---
title: Charlie Crowe | Design Village
body_class: project design-village
---

<div class="project-wrapper">
  <h2>Design Village</h2>
  <div class="gallery">
    <div class="thumbnails">
      <ul>
        <li id="design-village"></li>
      </ul>
    </div>
    <%= image_tag("design-village/design-village.png", class: "photo-display") %>
  </div>
  <section class="project-description">
    <h3>portable structures</h3>
    <hr />
    <p>
      As a student at Cal Poly, Design Village was a thought provoking first
      year challenge for me. My team, composed entirely of first year students
      submitted an entry into a competition that is primarily for upper classmen
      from architecture schools around the country. The goal was to produce a
      structure that could be transported three miles into a canyon, set up on
      the side of a hill at an unknown pitch, and easily torn down. It also had
      to be inhabited by five people comfortably.
    </p>
    <p>
      We took on this challenge by creating an incredibly light platform made of
      1" by 1" box steel. This platform was lifted using three legs of
      adjustable lengths, and had a roof made of steel and painters tarp
      placed over top. The transport system was fabricated using three bicycle
      wheels so the structure could be rolled into place. For the sake of
      aesthetics and comfort, the entire front portion of the roof was designed
      to open on a hinged connection.
    </p>
    <p>
      This project gave me an opportunity to advance my skills in welding and
      deepened my appreciation of construction techniques. Our structure was one
      of the highest rated by participants at the competition.
    </p>
  </section>
</div>

<% content_for :javascript do %>
    <script>
      $(function(){
        window.activateGallery('design-village')
      })
    </script>
<% end %>
