---
title: Charlie Crowe | Matera Project
body_class: project matera-project
---

<div class="project-wrapper">
  <h2>Matera Project</h2>
  <div class="gallery">
    <div class="thumbnails">
      <ul>
        <li id="cliff"></li>
        <li id="main-level"></li>
        <li id="section"></li>
        <li id="mouth"></li>
        <li id="church"></li>
        <li id="lower-level"></li>
        <li id="theater"></li>
        <li id="tower"></li>
      </ul>
    </div>
    <%= image_tag("matera-project/cliff.png", class: "photo-display") %>
  </div>
  <section class="project-description">
    <h3>background</h3>
    <hr />
    <p>
      Matera is one of the oldest continuously inhabited cities in the world. It
      is a place steeped in history. The film industry has used the site as a
      backdrop for countless films. The Matera Film Studio Project adds modern
      elements to chronicle this history in an iconic contrast against the
      ancient city.
    </p>
    <h3>the approach</h3>
    <hr />
    <p>
      The studio also serves as a museum. You enter the modern addition to the
      site and are immediately completely thrown off guard as you walk through a
      tunnel that guides you through the history of film. Occasional breaks give
      you hints as to where you are within the site. The complex wraps around a
      very traditional setting, perfect for the production and adaptation of the
      neorealist film style revered in Italian culture.
    </p>
  </section>
</div>

<% content_for :javascript do %>
    <script>
      $(function(){
        window.activateGallery('matera-project')
      })
    </script>
<% end %>
