---
title: Charlie Crowe | SLO High School
body_class: project slo-highschool
---

<div class="project-wrapper">
  <h2>SLO High School</h2>
  <div class="gallery">
    <div class="thumbnails">
      <ul>
        <li id="interior-render"></li>
        <li id="circulation"></li>
        <li id="wall-section"></li>
        <li id="section-with-details"></li>
        <li id="site-plan"></li>
      </ul>
    </div>
    <%= image_tag("slo-highschool/interior-render.png", class: "photo-display") %>
  </div>
  <section class="project-description">
    <h3>the challenge</h3>
    <hr />
    <p>
      Creating opportunities for students to learn through collaboration was the
      main objective as well as the biggest challenge in designing this project.
      I partnered with a foreign exchange student to formulate this design for
      San Luis Obispo High School. We had some difficulties communicating verbally due to the language barrier between us, but we learned to
      overcome this struggle by communicating through our drawings and ideas
      more than through our words.
    </p>
    <p>
      Our design was inspired by this breakthrough. We moved students out of the
      traditional classroom to create an environment that would invite exploration and discovery. Open air lecture halls and work spaces dominate
      the facility, creating places where students would be able to learn
      together proactively instead of being taught passively.
    </p>
  </section>
</div>

<% content_for :javascript do %>
    <script>
      $(function(){
        window.activateGallery('slo-highschool')
      })
    </script>
<% end %>
