---
title: Charlie Crowe | SLO High School
body_class: project slo-highschool
---
<h2>SLO High School</h2>
<div class="project-wrapper">
  <section class="project-description">
    <h3>the challenge</h3>
    <hr />
    <p>
      Creating opportunities for students to learn through collaboration was the
      main objective as well as the greatest challenge in designing this project.
      I partnered with a foreign exchange student to formulate this design for
      San Luis Obispo High School. We had some difficulties communicating
      verbally due to the language barrier, but learned to overcome this
      struggle by communicating through our drawings and ideas more than through
      our words.
    </p>
    <h3>the solution</h3>
    <hr />
    <p>
      The school that we designed ended up being a direct reflection of our
      experience learning to communicate effectively with each other. We took
      the standard classroom and gave students opportunites to learn by leaving
      it in favor of exploring and immersing themselves in the school. Open air
      lecture halls and work spaces dominated the facility, creating places where
      students would be able to learn together instead of being taught to.
    </p>
  </section>
  <div class="extendable-bg"></div>
  <div class="gallery">
    <div class="thumbnails">
      <ul>
        <li id="interior-render"></li>
        <li id="circulation"></li>
        <li id="elevation"></li>
        <li id="section-with-details"></li>
        <li id="site-plan"></li>
        <li id="wall-section"></li>
      </ul>
    </div>
    <%= image_tag("slo-highschool/interior-render.png", class: "photo-display") %>
  </div>
</div>

<% content_for :javascript do %>
    <script>
      $(function(){
        window.activateGallery('slo-highschool')
      })
    </script>
<% end %>
