---
title: Charlie Crowe | Tanzania Hotel
body_class: project tanzania-hotel
---
<h2>Tanzania Hotel</h2>
<div class="project-wrapper">
  <section class="project-description">
    <h3>objective</h3>
    <hr />
    <p>
      The Tanzania Hotel project was a collaboration with two
      architectural engineering students on their senior project.
      Our challenge was to design something the was cost effective,
      quick to construct, earthquake resistant, and easy to replicate.
      These criteria were necessary to allow for the region around Karatu,
      Tanzania to benefit most from our work.
    </p>
    <h3>our solution</h3>
    <hr />
    <p>
      As a team, we focused on a complex, layered roof with simple walls. The
      walls were a system of sandbags and barbed wire that we tested to meet our
      standards for earthquake resistance. The roof served many purposes for the
      benefit of the community. We designed the roof to collect water to be used and
      recycled in grey water drip irrigation systems and to shade the entire
      complex from the sun during all hours of the day. We used the layers of
      the roof for stack ventilation as well.
    </p>
  </section>
  <div class="extendable-bg"></div>
  <div class="gallery">
    <div class="thumbnails">
      <ul>
        <li id="from-unit"></li>
        <li id="wall-photo"></li>
        <li id="roof-detail-drawing"></li>
        <li id="roof-exploded"></li>
        <li id="site-plan"></li>
        <li id="wall-section"></li>
      </ul>
    </div>
    <%= image_tag("tanzania-hotel/from-unit.png", class: "photo-display") %>
  </div>
</div>

<% content_for :javascript do %>
    <script>
      $(function(){
        window.activateGallery('tanzania-hotel')
      })
    </script>
<% end %>
