---
title: Charlie Crowe | Tanzania Hotel
body_class: project tanzania-hotel
---

<div class="project-wrapper">
  <h2>Tanzania Hotel</h2>
  <div class="gallery">
    <div class="thumbnails">
      <ul>
        <li id="from-unit"></li>
        <li id="wall-photo"></li>
        <li id="roof-detail-drawing"></li>
        <li id="roof-exploded"></li>
        <li id="site-plan"></li>
        <li id="wall-section"></li>
      </ul>
    </div>
    <%= image_tag("tanzania-hotel/from-unit.png", class: "photo-display") %>
  </div>
  <section class="project-description">
    <h3>the objective</h3>
    <hr />
    <p>
      The objective of the Tanzania Hotel Project was to design something that
      was cost effective, quick to construct, earthquake resistant, and simple
      to replicate. These criteria were necessary to provide the greatest value
      for the region around Karatu, Tanzania.
    </p>
    <h3>the design</h3>
    <hr />
    <p>
      The design focuses on a complex, layered roof with simple walls. The walls
      incorporate a system of sandbags and barbed wire that was tested to meet standards for earthquake resistance. The roof serves many purposes for the
      benefit of the community; it collects water to be used and recycled in
      grey water drip irrigation systems and shades the entire complex from the
      sun during the day. The layers in the roof also provides stack ventilation
      for the hotel complex.
    </p>
  </section>
</div>

<% content_for :javascript do %>
    <script>
      $(function(){
        window.activateGallery('tanzania-hotel')
      })
    </script>
<% end %>
