.homepage {
  .matera-project {
    background-image: image_url("matera-project/cliff-index.png");
    background-position: center center;
    background-size: cover;

    @include media($mobile-max) {
      margin-top: 30px;
    }
  }

  .senior-project {
    background-image: image_url("matera-project/cliff-index.png");
    background-position: right center;
    background-size: cover;
  }

  .tanzania-hotel {
    background-image: image_url("tanzania-hotel/wall-photo-index.jpg");
    background-position: center center;
    background-size: cover
  }

  .slo-highschool {
    background-image: image_url("slo-highschool/interior-render-index.png");
    background-position: 50% 90%;
    background-size: cover;
  }

  .rose-float {
    background-image: image_url("rose-float/float-main-index.jpg");
    background-position: left center;
  }

  .design-village {
    background-image: image_url("design-village/design-village-index.png");
    background-position: left center;
    background-size: cover;
  }

  .resume {
    @include clearfix;
    height: 250px;

    h3 {
      text-align: center;
      margin-top: 100px;
    }
  }

  .bio-image {
    width: 100%;
  }

  .bio-text {
    color: color(dark-gray);
    padding-bottom: 50px;

    h2 {
      color: color(light-blue-gray);
    }

    p {
      margin: 2em;
      line-height: 1.7em;
      padding: 0 25px;
      font-size: 0.85em;
    }

    @include media($desktop) {
      p {
        padding: 0 150px;
        font-size: 1em;
      }
    }
  }

  .contact {
    position: relative;

    .content {
      position: absolute;
      top: 65px;
    }

    hr {
      border: none;
      background-color: white;
      width: 200px;
      height: 1px;
      float: left;
      margin-left: 25px;
    }

    p {
      color: white;
      float: left;
      margin-left: 25px;
      clear: left;
      margin-top: 0;
      font-weight: bold;
      font-family: $header-font-family;
    }

    .contact-links {
      @include clearfix;
      list-style: none;
      margin: 0;
      padding: 0;
      padding-top: 20px;
      margin-left: 25px;

      li {
        float: left;
        display: inline;
        text-align: center;
        margin-right: 25px;
      }

      a {
        transition: all 0.3s ease;
        font-size: 2.5em;
        color: white;

        &:hover {
          color: color(light-blue-gray);
        }
      }
    }

    @include media($mobile-max) {
      .content {
        margin-left: 30px;
        top: 20px;
      }
    }

    @include media($desktop) {
      .content {
        top: 145px;
        margin-left: 100px;
      }

      hr {
        width: 300px;
      }

      p {
        font-size: 1.5em;
      }
    }
  }

  @include media($desktop) {
    .panels {
      position: static;
      padding-bottom: 450px;
    }

    .panel {
      position: relative;
      margin-top: 30px;
    }

    .panel-2 {
      top: 460px;
    }

    .matera-project {
      background-position: center center;
      width: 570px;
      position: absolute;
      margin-top: 0;
    }

    .senior-project {
      background-position: right center;
      width: 570px;
      position: absolute;
      top: 230px;
    }

    .tanzania-hotel {
      background-position: right center;
      width: 250px;
      height: 430px;
      position: absolute;
      left: 600px;
    }

    .rose-float {
      background-position: 40% top;
      width: 250px;
      height: 430px;
      background-size: 400%;
    }

    .slo-highschool {
      background-position: center 90%;
      width: 570px;
      position: absolute;
      left: 280px;
      top: 0;
    }

    .design-village {
      background-position: left 60%;
      background-size: cover;
      width: 570px;
      position: absolute;
      left: 280px;
      top: 230px;
    }
  }
}
