@import "neat-helpers";

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 10;
$max-width: 850px;

// Define your breakpoints
$desktop: new-breakpoint(min-width 850px 8);
$mobile-max: new-breakpoint(min-width 500px 4)
