body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  @include clearfix;
  width: 100%;
  min-height: 100%;
  position: relative;

  &.transform {
    padding-top: 150px;
  }

  @include media($mobile-max) {
    width: 500px;
    margin: 0 auto;

    &.transform {
      padding-top: 190px;
    }
  }

  @include media($desktop) {
    @include outer-container;
    width: auto;

    &.transform {
      padding-top: 210px;
    }
  }
}
