* {
  font-family: $base-font-family;
}

h1, h2, h3 {
  font-family: $header-font-family;
  font-weight: 300;
  margin: 0;
}

h3 {
  font-size: 1.75em;
  color: color(dark-blue);
  margin: 0;
  font-weight: bold;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2.96em;
  color: color(light-blue-gray);
  margin-top: 20px;

  @include media($mobile-max) {
    margin-top: 50px;
  }
}

a {
  font-size: 0.75em;
  font-family: $base-font-family;
  text-decoration: none;
  color: color(dark-gray);

  &:hover {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
  }
}

@include media($mobile-max) {
  a {
    font-size: 1em;
  }

  h1 {
    font-size: 7.75em;
  }

  h2 {
    font-size: 4.6em;
  }
}
