<footer>
  <p>&copy; Charlie Crowe 2016</p>

  <ul class="social-media">
    <li>
      <% link_to "#", target: "_blank" do %>
        <i class="fa fa-linkedin-square"></i>
      <% end %>
    </li>
    <li>
      <% link_to "#", target: "_blank" do %>
        <i class="fa fa-facebook-square"></i>
      <% end %>
    </li>
  </ul>
</footer>
