<footer>
  <div class="footer-wrap">
    <p>&copy; Charlie Crowe 2016</p>

    <ul class="contact-links">
      <li>
        <% link_to "charlie-resume.pdf", title: "resume", target: "_blank" do %>
          <i class="fa fa-file-text"></i>
        <% end %>
      </li>
      <li>
        <% link_to "mailto:charlietcrowe@gmail.com", title: "email", target: "_blank" do %>
          <i class="fa fa-envelope"></i>
        <% end %>
      </li>
      <li>
        <% link_to "https://www.linkedin.com/in/charlie-crowe-b925174a", title: "linkedin", target: "_blank" do %>
          <i class="fa fa-linkedin-square"></i>
        <% end %>
      </li>
    </ul>
  </div>
</footer>
