<header class="site-heading">
  <h2>CHARLIE CROWE</h2>
  <div class="title-bar">
    <h1>architect</h1>
  </div>
</header>
<nav>
  <ul>
    <li class="active"><%= link_to "Portfolio", "#" %></li>
    <li><%= link_to "Resumé", "#" %></li>
    <li><%= link_to "Biography", "#" %></li>
    <li><%= link_to "Contact", "#" %></li>
  </ul>
</nav>
