<div id="sticky-header">
  <header class="site-heading">
    <h2>CHARLIE CROWE</h2>
    <div class="title-bar">
      <h1>portfolio</h1>
    </div>
  </header>
  <nav>
    <ul>
      <li><%= link_to "Projects", "#portfolio", class: "active" %></li>
      <li><%= link_to "Resumé", "charlie-crowe-resume.pdf", target: "_blank" %></li>
      <li><%= link_to "Biography", "#biography" %></li>
      <li><%= link_to "Contact", "#contact" %></li>
    </ul>
  </nav>
</div>
