footer {
  height: 100px;
  width: 100%;
  font-size: 0.75em;
  padding: 20px 10px 0px 10px;
  position: relative;
  top: 0;
  color: color(gray);

  ul {
    float: right;
    display: inline-block;
    margin: 0;
    position: relative;
    top: -10px;

    li {
      list-style: none;
      float: left;
      display: inline-block;
      margin-left: 20px;
      font-size: 2em;

      a {
        color: color(gray);
      }
    }
  }

  p {
    float: left;
    margin: 0;
  }

  .footer-wrap {
    @include outer-container;

    @include media($mobile-max) {
      width: 500px;
      margin: 0 auto;
    }

    @include media($desktop) {
      width: 100%;
    }
  }

  @include media($mobile-max) {
    padding-left: 0px;
    padding-right: 0px;
  }
}
