footer {
  width: 100%;
  font-size: 0.75em;
  padding: 20px 10px 0px 10px;
  position: relative;
  top: -250px;
  color: color(gray);

  p {
    float: left;
    margin: 0;
  }

  @include media($mobile-max) {
    padding-left: 0px;
    padding-right: 0px;
  }
}
