nav {
  ul {
    @include clearfix;
    @include outer-container;
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }

  li {
    float: left;
    display: inline-block;
    width: 25%;
    text-align: center;
    text-transform: uppercase;


    a {
      letter-spacing: 2px;
      line-height: 45px;
    }
  }
}
