nav {
  height: 20px;

  ul {
    @include clearfix;
    @include outer-container;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: none;

    @include media($mobile-max) {
      display: block;
    }
  }

  li {
    float: left;
    display: inline-block;
    width: 25%;
    text-align: center;
    text-transform: uppercase;


    a {
      transition: all 0.5s ease;
      letter-spacing: 2px;
      line-height: 45px;
      padding: 10px;
      width: 100%;
      display: block;

      &.active, &:hover {
        transition: all 0.5s ease;
        text-decoration: underline;
        background-color: color(light-blue-gray);
        color: white;
        border-radius: 2px;
      }
    }
  }

  @include media($mobile-max) {
    height: auto;
  }
}
