.project-preview {
  transition: all 0.3s ease;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  border: 10px solid white;
  border-radius: 3px;

  &:hover {
    transition: all 0.3s ease;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);

    .project-details .description {
      background-color: color(dark-blue);

      h3, p {
        color: white;
      }
    }

    h3 {
      transition: border 0.3s ease;

      &:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
  }

  @include media($mobile-max) {
    border: none;
    margin-bottom: 30px;
  }
}

.project-details {
  @include clearfix;
  position: absolute;
  top: -22px;
  width: 200px;

  h3 {
    transition: all 0.3s ease;
    line-height: 1.1em;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    font-size: 1.3em;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: white;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
  }

  .description {
    @include clearfix;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 2px;
    font-weight: bold;
    padding: 8px 20px;
    position: relative;
    top: 48px;
    left: 25px;
    display: none;

    p {
      &:first-of-type {
        margin-top: 31px;
        font-size: 0.8em;
        line-height: 1.55em;
        color: black;
      }
    }

    @include media($mobile-max) {
      padding: 10px 20px 15px 20px;
      height: 150px;
      display: block;

      hr {
        position: absolute;
        bottom: 30px;
        width: 210px;
      }
    }
  }
}
