.site-heading {
  h1, h2 {
    position: relative;
    left: -2px;
  }

  h1 {
    color: white;
    line-height: 0.5em;
    top: -4px;
  }

  h2 {
    color: color(gray);
    top: 14px;
  }

  .title-bar {
    background-color: color(gray);
    height: 39px;
    overflow: hidden;
  }

  @include media($desktop) {
    h1, h2 {
      left: -5px;
    }

    h1 {
      top: -7px;
    }

    h2 {
      top: 25px;
    }

    .title-bar {
      height: 65px;
    }
  }
}
