.subtitle-bar {
  height: 24px;
  overflow: hidden;
  color: white;
  background-color: color(blue-gray);

  h2 {
    position: relative;
    top: -18px;
    left: -5px;
  }

  @include media($desktop) {
    height: 42px;

    h2 {
      top: -31px;
      left: -8px;
    }
  }

  &.bio {
    color: color(dark-blue);
    background-color: white;
  }

  &.contact {
    color: white;
    background-color: color(dark-blue);
  }

  &:first-of-type {
    margin-bottom: 75px;
  }
}
