---
title: Welcome to Middleman
body_class: homepage
---
<div class="subtitle-bar">
  <h2>portfolio</h2>
</div>

<div class="project-preview matera-project">
  <div class="project-screen"></div>
  <div class="description-screen">
    <p>This is a brief example description.</p>
  </div>
  <div class="project-title">
    <h3>Matera Project</h3>
    <%= link_to "[more]", "#" %>
  </div>
</div>
<div class="project-preview slo-highschool">
  <div class="project-screen"></div>
  <div class="description-screen">
    <p>This is a brief example description.</p>
  </div>
  <div class="project-title">
    <h3>SLO High School</h3>
    <%= link_to "[more]", "#" %>
  </div>
</div>
<div class="project-preview rose-float">
  <div class="project-screen"></div>
  <div class="description-screen">
    <p>This is a brief example description.</p>
  </div>
  <div class="project-title">
    <h3>Rose Float</h3>
    <%= link_to "[more]", "#" %>
  </div>
</div>
