---
title: Welcome to Middleman
body_class: homepage
---
<div class="panels">
  <div class="panel">
    <% link_to "#" do %>
      <div class="project-preview matera-project">
        <div class="description-screen"></div>
        <div class="project-details">
          <div class="description">
            <h3>matera project</h3>
            <p>This is the project description.</p>
            <hr />
            <p class="more">more</p>
          </div>
        </div>
      </div>
    <% end %>
    <% link_to "#" do %>
      <div class="project-preview senior-project">
        <div class="description-screen"></div>
        <div class="project-details">
          <div class="description">
            <h3>senior project</h3>
            <p>This is the project description.</p>
            <hr />
            <p class="more">more</p>
          </div>
        </div>
      </div>
    <% end %>
    <% link_to "#" do %>
      <div class="project-preview tanzania-hotel">
        <div class="description-screen"></div>
        <div class="project-details">
          <div class="description">
            <h3>tanzania hotel</h3>
            <p>This is the project description.</p>
            <hr />
            <p class="more">more</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% link_to "#" do %>
    <div class="panel panel-2">
      <div class="project-preview slo-highschool">
        <div class="description-screen"></div>
        <div class="project-details">
          <div class="description">
            <h3>slo high school</h3>
            <p>This is the project description.</p>
            <hr />
            <p class="more">more</p>
          </div>
        </div>
      </div>
    <% end %>
    <% link_to "#" do %>
      <div class="project-preview rose-float">
        <div class="description-screen"></div>
        <div class="project-details">
          <div class="description">
            <h3>rose float</h3>
            <p>This is the project description.</p>
            <hr />
            <p class="more">more</p>
          </div>
        </div>
      </div>
    <% end %>
    <% link_to "#" do %>
      <div class="project-preview design-village">
        <div class="description-screen"></div>
        <div class="project-details">
          <div class="description">
            <h3>design village</h3>
            <p>This is the project description.</p>
            <hr />
            <p class="more">more</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="subtitle-bar bio">
  <h2>biography</h2>
</div>
<div class="bio-text">
  <%= image_tag("bio/charlie.jpg", alt: "Charlie Crowe", class:"bio-image") %>
  <p>
    My experience in architecture is guided by 3 principles: collaboration,
    creativity, and innovation. In my five years in college, I have worked on
    five different projects collaborating with engineers, 4 different projects
    collaborating with other architects, and spend the majority of my day
    looking for ways to learn, grow, and challenge myself in every aspect of my
    life.
  </p>
  <p>
    This previous summer, I worked for an architecture firm in San Antonio,
    Texas by the name of Marmon Mok. My experience there showed me the breadth
    of architectural work, as I transitioned from working with the sports and
    recreation team, to working with the healthcare team, the Public Services
    team, and the education team. My time there was spent constantly
    communicating with my superiors and other employees, trying to learn as much
    as I could in the short span of the summer. Any trick they were willing to
    teach I was excited to pick up and learn.
  </p>
  <p>
    For the past four years I have led the design of Cal Poly’s Rose Parade
    Float. The past 2, I served as a coordinator between the artists, the
    florists, and the engineers, making sure every team had all the information
    they needed to succesfully build the best float we possibly could. Both of
    these floats won the most significant award we have ever won in the parade,
    the Lathrop K Leishman Trophy for the most beautiful non-commercial float.
    To produce such award winning floats, I developed models which accurately
    represented such details as materials in construction, stem counts of
    flowers, and appearance of artistic elements. Through this work I have
    gained a wealth of understanding of digital modeling in every sense, as well
    as a great breadth of construction experience. It was an honor to work with
    such a dedicated, commited, and talented group of people and I learned a lot
    in working with them.
  </p>
</div>

<div class="subtitle-bar contact">
  <h2>contact</h2>
</div>
<div class="contact-content">

  <ul class="contact-links">
    <li>
      <% link_to "mailto:charlietcrowe@gmail.com", target: "_blank" do %>
        <i class="fa fa-envelope"></i>
      <% end %>
    </li>
    <li>
      <% link_to "https://www.linkedin.com/in/charlie-crowe-b925174a", target: "_blank" do %>
        <i class="fa fa-linkedin-square"></i>
      <% end %>
    </li>
  </ul>

  <hr />
  <p>Thank you for visiting!</p>
</div>
