---
title: Welcome to Middleman
body_class: homepage
---

<main>
  <header class="site-heading">
    <h2>CHARLIE CROWE</h2>
    <div class="title-bar">
      <h1>architect</h1>
    </div>
  </header>
</main>
